.walrus-showing {
  display: none;
}

.seahorse-showing{
  display: none;
}

.clickable{
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}

.hover:hover{
  cursor: pointer;
  color: #0088cc;
  text-decoration: underline;
}
